.container {
    width: 200px;
    height: 200px;
    margin: 100px auto;
}

.box {
    width: 100%;
    height: 100%;
    background-color: #3498db;
    transform-style: preserve-3d;
    transform: translateX(-50%) translateY(-50%) translateZ(-50px)
        rotateX(45deg) rotateY(45deg);
    transition: transform 0.5s ease-in-out;
    box-shadow: 50px 50px 5px grey;
}

.container:hover .box {
    transform: translateX(-50%) translateY(-50%) translateZ(0) rotateX(0deg)
        rotateY(0deg);
}
