@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #999;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c83748;
    width: 98.4%;
    margin: 0 10px;
    padding: 10px;
}

header img {
    width: 120px;
}

nav {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #121212;
    color: whitesmoke;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

body h1,
h2,
h3 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ad2b3a;
}

#startPage {
    width: 80%;
}

#about {
    width: 80%;
}

#projects {
    width: 80%;
    margin: 50px;
}

#contact {
    width: 80%;
}

#skills {
    background: #d9d9d9;
    width: 80%;
    height: auto;
    position: relative;
}

#skills::after,
#skills::before {
    content: " ";
    background: black;
    position: absolute;
    width: 300px;
    height: 100px;
}

#skills::before {
    transform: rotate(-45deg);
    top: 0px;
    left: -180px;
}
#skills::after {
    transform: rotate(135deg);
    bottom: 0px;
    right: -180px;
}

.myImg {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ad2b3a;
}

.container {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 250px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    filter: grayscale();
}

.image img {
    width: 140px;
    height: 140px;
    color: #333;
    margin-left: 10px;
}

.image:hover {
    scale: 1.1;
    filter: none;
}

.link {
    height: 100%;
    color: #000000;
}

.link:hover li a {
    color: #c83748;
    scale: 1.1;
}

#projects {
    display: flex;
    margin: 20px;
}

.project {
    font-size: 18px;
    width: 25%;
    height: auto;
    border: 0.5px grey solid;
    box-shadow: 2px 2px 3px 0 grey;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.project p {
    border-top: 0.5px dotted grey;
    padding-top: 15px;
}

#certification {
    width: 80%;
}

#contact .links {
    display: flex;
}

#contact .links .link {
    margin: 10px;
    text-align: center;
}

#contact .links .link img {
    width: 70px;
    height: 70px;
}

footer {
    align-self: flex-start;
    background: #2d2c2c;
    width: 99.4%;
}

footer h1 {
    text-align: center;
    color: #bd3141;
}
